// $font-size1: calc(3rem + 1vw);
// $font-size2: calc(2.5rem + 1vw);
// $font-size3: calc(2rem + 1vw);
// $font-size4: calc(1.5rem + 1vw);
// $font-size5: calc(1rem + 1vw);
// $font-size6: calc(0.75rem + 1vw);
// $font-size7: calc(0.6rem + 1vw);
// $font-size8: calc(0.5rem + 1vw);
// $font-size9: calc(0.4rem + 1vw);
// $font-size10: calc(0.3rem + 1vw);
// $font-size11: calc(0.2rem + 1vw);
// $font-size12: calc(0.1rem + 1vw);
// $font-size13: calc(0.1rem + 0.7vw);
// $font-size14: calc(0.1rem + 0.5vw);

$black-color1: rgb(0, 0, 0);
$black-color2: rgba(0, 0, 0, 0.438);
$text-shadow1: 2px 1px 2px #000;
$box-shadow1: 0px 0px 1px 1px rgba(0, 0, 0, 0.952);
$primary-color1: rgb(18, 236, 236);
$primary-color2: rgb(0, 196, 196);
$primary-color3: rgb(0, 139, 139);
$primary-color4: rgb(0, 0, 0);
$primary-color5: rgba(0, 0, 0, 0.486);
$primary-color6: rgba(0, 0, 0, 0.726);
$grey-color1: rgb(212, 212, 212);
$white-color: #fff;
@font-face {
    font-family: 'Kalame';
    src: url('../fonts/vazir/') format('truetype');
}
@font-face {
    font-family: 'Bettina';
    src: url('../fonts/bettina/BettinaScript/Bettina.ttf') format('truetype'),
        url('../fonts/bettina/BettinaScript/Bettina.woff');
}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir/Vazir-Black-FD.ttf') format('truetype'), url('../fonts/vazir/Vazir-Regular-FD.ttf');
}
