// $font-size1: calc(3rem + 1vw);
// $font-size2: calc(2.5rem + 1vw);
// $font-size3: calc(2rem + 1vw);
// $font-size4: calc(1.5rem + 1vw);
// $font-size5: calc(1rem + 1vw);
// $font-size6: calc(0.75rem + 1vw);
// $font-size7: calc(0.6rem + 1vw);
// $font-size8: calc(0.5rem + 1vw);
// $font-size9: calc(0.4rem + 1vw);
// $font-size10: calc(0.3rem + 1vw);
// $font-size11: calc(0.2rem + 1vw);
// $font-size12: calc(0.1rem + 1vw);
// $font-size13: calc(0.1rem + 0.7vw);
// $font-size14: calc(0.1rem + 0.5vw);

$color1: rgb(0, 0, 0);
$color2: rgba(0, 0, 0, 0.438);
$color3: rgb(0, 245, 245);
$color4: rgb(0, 196, 196);
$color5: rgb(0, 139, 139);
$color6: rgb(0, 41, 41);
$color7: rgb(212, 212, 212);
@font-face {
    font-family: 'Kalame';
    src: url('../fonts/vazir/') format('truetype');
}
@font-face {
    font-family: 'Bettina';
    src: url('../fonts/bettina/BettinaScript/Bettina.ttf') format('truetype'),
        url('../fonts/bettina/BettinaScript/Bettina.woff');
}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir/Vazir-Black-FD.ttf') format('truetype'), url('../fonts/vazir/Vazir-Regular-FD.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Vazir', sans-serif;
    font-size: 62.5%;
    line-height: 45px;
    // --header1: 3rem;
    direction: rtl;
    text-align: right;
    /* حذف اسکرول افقی */
    overflow-x: hidden;
    /* Utility Classes */
    a {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: $color7;
        font-size: 266%;
        text-shadow: 2px 2px 2px #000;
        z-index: 3;
        font-weight: bold;
    }

    .container {
        width: 90vw;
        margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // font-size: var(--header1);
        z-index: 10;
        text-shadow: 2px 2px 2px #000;
        padding: 1rem 1rem;
    }
    li,
    label,
    input,
    p {
        z-index: 3;
        text-shadow: 2px 1px 2px rgb(0, 0, 0);
        font-weight: normal;
    }
    button {
        font-weight: bold;
        z-index: 3;
        border: none;
        // border-radius: 50px;
        background: $color3;
        color: #fff;
        flex: 1 1 auto;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        animation: buttonAnimation 1.5s infinite alternate 1.5s;
        animation-iteration-count: 3;
        &:hover {
            background: $color4;
        }
        &:focus {
            background: $color5;
            outline-style: solid;
            outline-color: $color6;
        }
    }

    ul {
        list-style: none;
    }
    li {
        list-style: none;
        z-index: 3;
        text-shadow: 2px 2px 2px #000;
        padding: 0.5rem 1rem;
    }
    span {
        color: $color3;
        padding: 1rem 0.5rem;
    }
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .burger,
    // .menu-check {
    //     display: none;
    // }
}
////////////////////////////////header/////////////////////////////////////
header.main-head {
    position: fixed;
    top: 0px;
    z-index: 100;
    nav {
        width: 100vw;
        background: rgba(0, 41, 41, 0.603);
        display: flex;
        align-items: center;
        min-height: 10vh;
        padding: 1rem 0rem;
        flex-wrap: wrap;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.952);
        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            #logo {
                flex: 1 1 20rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                .a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1 {
                        color: $color3;
                        font-size: 265%;
                        padding: 0.5rem 1rem;
                    }
                }
            }
            .nav-link {
                display: flex;
                justify-content: space-between;
                flex: 1 1 20rem;
                li a {
                    &:hover {
                        color: $color3;
                    }
                }
            }
        }
        input {
            opacity: 0;
        }
    }
}
///////////////////////////////Home Section/////////////////////////////////
section#Home {
    background: linear-gradient(rgba(0, 0, 0, 0.808), transparent), url('../images/22.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    .container {
        .H {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2 {
                font-size: 360%;
                color: $color3;
                padding: 15rem 2rem 10rem 2rem;
                margin: 2rem 0rem;
            }
            p {
                font-size: 370%;
                margin: 0.5rem 0.5rem;
                color: $color7;
                cursor: pointer;
                padding: 2rem 2rem;
                text-align: center;
                transition: all 0.5s ease-in-out;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}
///////////////////////////////Introduction Section/////////////////////////
section#Introduction {
    background: #c9cdce;
    height: auto;
    overflow: hidden;
    .container {
        // height: auto;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        .intro {
            flex: 2 1 40rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                color: $color3;
                font-size: 350%;
                padding-top: 2rem;
            }
            h3 {
                color: #fff;
                font-size: 260%;
                border: 3px solid $color4;
                padding: 0.5rem 2rem;
                margin-bottom: 4rem;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background: $color3;
                    cursor: pointer;
                }
            }
            p {
                color: #000;
                text-shadow: none;
                padding: 5rem 7rem;
                font-size: 340%;
                text-align: justify;
            }
        }
        .picture {
            flex: 2 1 40rem;
            .hero {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.9;
            }
        }
    }
}
///////////////////////////////About Section/////////////////////////////////
section#About {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: $color6;
    .about-image {
        flex: 1 1 40rem;
        justify-content: space-evenly;
        position: relative;
        h5 {
            font-size: 350%;
            position: absolute;
            bottom: 80%;
            left: 50%;
            color: $color3;
            transform: translate(-50%, -20%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.6;
        }
    }
    .about-text {
        flex: 2 1 40rem;
        flex-direction: column;
        direction: rtl;
        justify-content: space-evenly;
        text-align: justify;
        padding: 3rem 1rem;
        h2 {
            font-size: 350%;
            color: $color3;
            text-align: center;
            padding: 3rem 3rem;
        }
        .about-life {
            flex-wrap: wrap;
            h3 {
                font-size: 300%;
                color: $color3;
                padding: 1rem 3rem;
            }
            p {
                font-size: 300%;
                color: $color7;
                padding: 1rem 3rem;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    color: $color3;
                }
            }
        }
        .about-work {
            flex-wrap: wrap;
            h3 {
                font-size: 300%;
                color: $color3;
                padding: 1rem 3rem;
            }
            p {
                font-size: 300%;
                color: $color7;
                padding: 1rem 3rem;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    color: $color3;
                }
            }
        }
        .about-contact {
            flex-wrap: wrap;
            h3 {
                font-size: 300%;
                color: $color3;
                padding: 1rem 3rem;
            }
            p {
                font-size: 300%;
                color: $color7;
                padding: 1rem 3rem;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}
///////////////////////////////Gallery Section///////////////////////////////
section#Gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery1 {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .gallery2 {
        grid-column: 3/3;
        grid-row: 1/2;
    }
    .gallery3 {
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .gallery4 {
        grid-column: 3/1;
        grid-row: 2/2;
    }
    .gallery5 {
        grid-column: 3/3;
    }
    .gallery-head {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: rgba(0, 41, 41, 0.603);
        padding: 10rem 13rem;
        box-shadow: -1px 0px 10px 7px #000;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        h2 {
            color: $color7;
            font-size: 450%;
        }
        p {
            color: $color7;
            font-size: 312%;
        }
        &:hover {
            background: rgb(0, 41, 41);
        }
    }
}
///////////////////////////////Contact Section///////////////////////////////
section#Contact {
    background: rgb(44, 44, 44);
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    .form-wrapper {
        width: 50%;
        height: auto;
        background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url('../images/anthony.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        padding: 5rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        flex-wrap: wrap;
        flex: 3 1 40rem;
        h2 {
            font-size: 2rem;
            color: $color7;
            padding: 2rem 1rem;
            span {
                font-size: 130%;
                color: $color3;
                padding: 1.5rem 1rem;
            }
        }
        form {
            margin: 3rem 0rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            opacity: 0.7;
            transition: all 1s ease-in-out;
            &:hover {
                opacity: 1;
            }
            input,
            button,
            label {
                font-size: 380%;
                margin: 1rem 1rem;
                width: 65%;
            }
            input {
                color: #000;
                text-shadow: none;
                display: block;
                border: 3px solid $color5;
            }
            button {
                padding: 0.1rem 0.2rem;
                color: $color6;
                font-family: 'vazir';
                border: 3px solid $color5;
                font-size: 300%;
            }
            label {
                color: $color7;
                display: block;
                cursor: pointer;
            }
        }
    }
    .image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2;
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            flex: 1 1 40rem;
            opacity: 0.7;
        }
        .gallery1 {
            grid-template-columns: 1;
            grid-template-rows: 1;
        }
        .gallery2 {
            grid-template-columns: 1;
            grid-template-rows: 2;
        }
        .gallery3 {
            grid-template-columns: 1;
            grid-template-rows: 3;
        }
    }
}
///////////////////////////////////Footer///////////////////////////////////
footer {
    background: $color1;
    color: $color7;
    display: flex;
    padding: 3rem 5%;
    align-items: center;
    flex-wrap: wrap;
    h4 {
        font-size: 300%;
        flex: 3 1 40rem;
        padding: 1rem;
    }

    ul {
        display: flex;
        flex: 1 1 40rem;
        justify-content: space-evenly;
        li {
            a {
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}
