@charset "UTF-8";
@font-face {
  font-family: 'Kalame';
  src: url("../fonts/vazir/") format("truetype");
}

@font-face {
  font-family: 'Bettina';
  src: url("../fonts/bettina/BettinaScript/Bettina.ttf") format("truetype"), url("../fonts/bettina/BettinaScript/Bettina.woff");
}

@font-face {
  font-family: 'GreatVibes-Regular';
  src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir-Black-FD.ttf") format("truetype"), url("../fonts/vazir/Vazir-Regular-FD.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Vazir', sans-serif;
  font-size: 62.5%;
  line-height: 45px;
  direction: rtl;
  text-align: right;
  /* حذف اسکرول افقی */
  overflow-x: hidden;
  /* Utility Classes */
}

html a,
body a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #d4d4d4;
  font-size: 266%;
  text-shadow: 2px 2px 2px #000;
  z-index: 3;
  font-weight: bold;
}

html .container,
body .container {
  width: 90vw;
  margin: auto;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  z-index: 10;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html li,
html label,
html input,
html p,
body li,
body label,
body input,
body p {
  z-index: 3;
  text-shadow: 2px 1px 2px black;
  font-weight: normal;
}

html button,
body button {
  font-weight: bold;
  z-index: 3;
  border: none;
  background: #00f5f5;
  color: #fff;
  flex: 1 1 auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: buttonAnimation 1.5s infinite alternate 1.5s;
  animation-iteration-count: 3;
}

html button:hover,
body button:hover {
  background: #00c4c4;
}

html button:focus,
body button:focus {
  background: darkcyan;
  outline-style: solid;
  outline-color: #002929;
}

html ul,
body ul {
  list-style: none;
}

html li,
body li {
  list-style: none;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 0.5rem 1rem;
}

html span,
body span {
  color: #00f5f5;
  padding: 1rem 0.5rem;
}

html .flex,
body .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header.main-head {
  position: fixed;
  top: 0px;
  z-index: 100;
}

header.main-head nav {
  width: 100vw;
  background: rgba(0, 41, 41, 0.603);
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 1rem 0rem;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.952);
}

header.main-head nav .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

header.main-head nav .container #logo {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

header.main-head nav .container #logo .a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.main-head nav .container #logo .a h1 {
  color: #00f5f5;
  font-size: 265%;
  padding: 0.5rem 1rem;
}

header.main-head nav .container .nav-link {
  display: flex;
  justify-content: space-between;
  flex: 1 1 20rem;
}

header.main-head nav .container .nav-link li a:hover {
  color: #00f5f5;
}

header.main-head nav input {
  opacity: 0;
}

section#Home {
  background: linear-gradient(rgba(0, 0, 0, 0.808), transparent), url("../images/22.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
}

section#Home .container .H {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#Home .container .H h2 {
  font-size: 360%;
  color: #00f5f5;
  padding: 15rem 2rem 10rem 2rem;
  margin: 2rem 0rem;
}

section#Home .container .H p {
  font-size: 370%;
  margin: 0.5rem 0.5rem;
  color: #d4d4d4;
  cursor: pointer;
  padding: 2rem 2rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

section#Home .container .H p:hover {
  color: #00f5f5;
}

section#Introduction {
  background: #c9cdce;
  height: auto;
  overflow: hidden;
}

section#Introduction .container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

section#Introduction .container .intro {
  flex: 2 1 40rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section#Introduction .container .intro h2 {
  color: #00f5f5;
  font-size: 350%;
  padding-top: 2rem;
}

section#Introduction .container .intro h3 {
  color: #fff;
  font-size: 260%;
  border: 3px solid #00c4c4;
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
  transition: all 0.5s ease-in-out;
}

section#Introduction .container .intro h3:hover {
  background: #00f5f5;
  cursor: pointer;
}

section#Introduction .container .intro p {
  color: #000;
  text-shadow: none;
  padding: 5rem 7rem;
  font-size: 340%;
  text-align: justify;
}

section#Introduction .container .picture {
  flex: 2 1 40rem;
}

section#Introduction .container .picture .hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

section#About {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #002929;
}

section#About .about-image {
  flex: 1 1 40rem;
  justify-content: space-evenly;
  position: relative;
}

section#About .about-image h5 {
  font-size: 350%;
  position: absolute;
  bottom: 80%;
  left: 50%;
  color: #00f5f5;
  transform: translate(-50%, -20%);
}

section#About .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

section#About .about-text {
  flex: 2 1 40rem;
  flex-direction: column;
  direction: rtl;
  justify-content: space-evenly;
  text-align: justify;
  padding: 3rem 1rem;
}

section#About .about-text h2 {
  font-size: 350%;
  color: #00f5f5;
  text-align: center;
  padding: 3rem 3rem;
}

section#About .about-text .about-life {
  flex-wrap: wrap;
}

section#About .about-text .about-life h3 {
  font-size: 300%;
  color: #00f5f5;
  padding: 1rem 3rem;
}

section#About .about-text .about-life p {
  font-size: 300%;
  color: #d4d4d4;
  padding: 1rem 3rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

section#About .about-text .about-life p:hover {
  color: #00f5f5;
}

section#About .about-text .about-work {
  flex-wrap: wrap;
}

section#About .about-text .about-work h3 {
  font-size: 300%;
  color: #00f5f5;
  padding: 1rem 3rem;
}

section#About .about-text .about-work p {
  font-size: 300%;
  color: #d4d4d4;
  padding: 1rem 3rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

section#About .about-text .about-work p:hover {
  color: #00f5f5;
}

section#About .about-text .about-contact {
  flex-wrap: wrap;
}

section#About .about-text .about-contact h3 {
  font-size: 300%;
  color: #00f5f5;
  padding: 1rem 3rem;
}

section#About .about-text .about-contact p {
  font-size: 300%;
  color: #d4d4d4;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

section#About .about-text .about-contact p:hover {
  color: #00f5f5;
}

section#Gallery {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

section#Gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#Gallery .gallery1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

section#Gallery .gallery2 {
  grid-column: 3/3;
  grid-row: 1/2;
}

section#Gallery .gallery3 {
  grid-column: 2/2;
  grid-row: 1/1;
}

section#Gallery .gallery4 {
  grid-column: 3/1;
  grid-row: 2/2;
}

section#Gallery .gallery5 {
  grid-column: 3/3;
}

section#Gallery .gallery-head {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 41, 41, 0.603);
  padding: 10rem 13rem;
  box-shadow: -1px 0px 10px 7px #000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

section#Gallery .gallery-head h2 {
  color: #d4d4d4;
  font-size: 450%;
}

section#Gallery .gallery-head p {
  color: #d4d4d4;
  font-size: 312%;
}

section#Gallery .gallery-head:hover {
  background: #002929;
}

section#Contact {
  background: #2c2c2c;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

section#Contact .form-wrapper {
  width: 50%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url("../images/anthony.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
  flex: 3 1 40rem;
}

section#Contact .form-wrapper h2 {
  font-size: 2rem;
  color: #d4d4d4;
  padding: 2rem 1rem;
}

section#Contact .form-wrapper h2 span {
  font-size: 130%;
  color: #00f5f5;
  padding: 1.5rem 1rem;
}

section#Contact .form-wrapper form {
  margin: 3rem 0rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  transition: all 1s ease-in-out;
}

section#Contact .form-wrapper form:hover {
  opacity: 1;
}

section#Contact .form-wrapper form input,
section#Contact .form-wrapper form button,
section#Contact .form-wrapper form label {
  font-size: 380%;
  margin: 1rem 1rem;
  width: 65%;
}

section#Contact .form-wrapper form input {
  color: #000;
  text-shadow: none;
  display: block;
  border: 3px solid darkcyan;
}

section#Contact .form-wrapper form button {
  padding: 0.1rem 0.2rem;
  color: #002929;
  font-family: 'vazir';
  border: 3px solid darkcyan;
  font-size: 300%;
}

section#Contact .form-wrapper form label {
  color: #d4d4d4;
  display: block;
  cursor: pointer;
}

section#Contact .image {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2;
  width: 50%;
}

section#Contact .image img {
  width: 100%;
  height: 100%;
  flex: 1 1 40rem;
  opacity: 0.7;
}

section#Contact .image .gallery1 {
  grid-template-columns: 1;
  grid-template-rows: 1;
}

section#Contact .image .gallery2 {
  grid-template-columns: 1;
  grid-template-rows: 2;
}

section#Contact .image .gallery3 {
  grid-template-columns: 1;
  grid-template-rows: 3;
}

footer {
  background: black;
  color: #d4d4d4;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}

footer h4 {
  font-size: 300%;
  flex: 3 1 40rem;
  padding: 1rem;
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-evenly;
}

footer ul li a img {
  width: 2.5rem;
  height: 2.5rem;
}
/*# sourceMappingURL=app.css.map */